extends ../layout


block content
    .m-5
    a(href="/bicicletas/create").p-4 Crear Nueva

    
    table.table.mt-4
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') Acciones
        tbody
            each bici in bicis
                tr
                    td(scope='row')=bici.id
                    td=bici.color
                    td=bici.modelo
                    td=bici.ubicacion
                    td
                        a(href="/bicicletas/"+bici.id+"/update" class="btn-sm btn-warning") Editar
                    td
                        form.inline(action="/bicicletas/"+bici.id+"/delete", method="post")
                            input(type="hidden" name='id' value = bici.id)
                            button.link-button(type="submit" name="submit_param" value='submit_value' class="btn-sm btn-danger")="Eliminar"